.navbar {
    padding-left: 99px;
    padding-right: 99px;
    background-color: #2F6CE5;
    z-index: 1;
}
.navbar-light .navbar-brand {
    color: #ffffff;
}
.navbar-light .navbar-nav .active>.nav-link {
    color: #ffffff;
}
.navbar-light .navbar-brand:hover {
    color: #ffffff;
}
.popular-tiles-child {
    height: 45px;
    background-color: rgba(0,0,0,0.8);
    position: relative;
    /* z-index: -1; */
}
.popular-tiles-child h1 {
    font-size: 1.5rem;
    color: white;
    padding: 0 100px;
}
.navbar-light .navbar-toggler {
    border-color: #ffffff;
}
.navbar-toggler {
    padding: .1rem 0.3rem;
}
footer {
    position: fixed;
    width: 100%;
}
footer {
    bottom: 0;
}
.tabs {
    min-height: 415px;
}
.tabs-child-home {
    height: 50vh;
}
.tabs-child,
.tabs-child-home,
.showerror {
    margin: 20px 100px;
}
/* .tabs-child {
    text-align: center;
} */
.showerror {
    display: none;
}
.showerror,
.loading {
    height: 50vh;
}
.series,
.movies {
    display: inline-block;
    text-align: center;
    vertical-align: text-top;
    margin: 10px 0;
}
.series a,
.movies a {
    width: 150px;
    height: 230px;
    margin: 10px;
    color: #ffffff;
    font-size: 1.5rem;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.series a img,
.movies a img {
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.series a img:hover,
.movies a img:hover {
    transform: scale(1.02);
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.5);
}
.movies-home a,
.series-home a {
    background-color: #000000;
    background-image: url(../images/movie-icon.png);
    background-size: 70%;
}
.footer-child3,
.series a,
.movies a,
.social-icons div,
.popular-tiles-child {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}
.popular-tiles-child {
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -webkit-box-shadow: 0 2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 2px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0 2px 5px 0px rgba(0,0,0,0.5);
}

.footer-child3 {
    justify-content: space-between;
    -webkit-justify-content: space-between;
}
.series h2,
.movies h2 {
    font-size: 1rem;
    text-align: left;
    margin: 0 10px;
    width: 150px;
}
.series a:hover, .movies a:hover {
    color: #ffffff;
    font-weight: bold;
}

.footer {
    background-color: #000000;
    padding: 50px 100px;
}
.footer-child1 ul {
    padding: 0;
}
.footer-child1 ul li {
    display: inline-block;
    padding-left: 10px;
    cursor: pointer;
}
.footer-child2 p {
    padding-left: 10px;
}
.footer-child1 ul li,
.footer-child2 p {
    color: #bbbbbb;
}
.footer-child1 ul li.footer-child1-list:hover {
    color: #ffffff;
}
.social-icons i {
    font-size: 24px;
    color: #ffffff;
    margin: 10px;
}
.social-icons i.fa-facebook:hover {
    color: #3b5998;
}
.social-icons i.fa-twitter:hover {
    color: #00acee;
}
.social-icons i.fa-instagram:hover {
    color:  #3f729b;
}

.social-download {
    text-align: right;
}
.social-download a {
    margin: 10px;
}
.social-download a img {
    width: 150px;
    height: 50px;
}
.social-download a:first-child img {
    height: 47px;
}
.social-download a:last-child img {
    height: 46px;
}

@media screen and (max-width: 767px) {
    .tabs-child,
    .tabs-child-home,
    .showerror {
        margin: 30px 15px;
    }
    .showerror,
    .loading {
        margin-top: 50px;
    }
    .footer {
        padding: 50px 15px;
    }
    .popular-tiles {
        padding-top: 50px;
    }
    .popular-tiles-child h1 {
        padding: 0 15px;
    }
    .navbar {
        padding-left: 15px;
        padding-right: 15px;
    }
    footer {
        position: relative;
    }
    .tabs {
        padding-top: 5px;
        min-height: 300px;
    }
    .navbar,
    .popular-tiles-child {
        position: fixed;
        width: 100%;
    }
    .footer-child3 {
        flex-direction: column;
    }
    .social-download {
        text-align: center;
    }
    .social-download div {
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        align-items: center;
    }
    .social-download a {
        margin: 5px;
    }
    .social-download a img {
        width: 115px;
        height: 40px;
    }
    .social-download a:first-child img {
        height: 38px;
    }
    .social-download a:last-child img {
        height: 37px;
    }
}
@media screen and (max-width: 380px) {
    .social-download a img {
        width: 90px;
        height: 32px;
    }
    .social-download a:first-child img {
        height: 30px;
    }
    .social-download a:last-child img {
        height: 29px;
    }
}
@media screen and (max-width: 370px) {
    .series a, .movies a {
        width: 120px;
        height: 180px;
    }
    .series h2, .movies h2 {
        width: 120px;
    }
}
@media screen and (max-width: 300px) {
    .navbar,
    .popular-tiles-child {
        position: relative;
    }
    .showerror,
    .loading {
        margin-top: 30px;
    }
    .popular-tiles {
        padding-top: 0;
    }
    .popular-tiles-child h1 {
        font-size: 0.8rem;
    }
    .navbar-brand {
        font-size: 1rem;
    }
    .series a, .movies a {
        width: 100px;
        height: 160px;
    }
    .series h2, .movies h2 {
        width: 100px;
    }
    .social-download div {
        flex-direction: column;
    }
    .social-download a {
        margin: 10px;
    }
    .social-download a img {
        width: 150px;
        height: 50px;
    }
    .social-download a:first-child img {
        height: 47px;
    }
    .social-download a:last-child img {
        height: 46px;
    }
    .tabs {
        padding-top: 10px;
    }
    .series a, .movies a {
        width: 80px;
        height: 120px;
    }
    .series h2, .movies h2 {
        width: 80px;
    }
    .series h2, .movies h2 {
        font-size: 0.6rem;
    }
    .tabs {
        min-height: 200px;
    }
}